* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer-card-container {
    z-index: 10;
    margin: 10px 5px 0 5px;
    padding: 0;
}

.inner-card-container {
    background-color: #e7ede9;
    border-radius: 10px;
}

.inner-card-container img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.inner-card-container h4 {
    padding: 10px 0 0 10px;
    font-weight: 700;
}

.inner-card-container p {
    padding: 0px 0 0 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.card-price {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin: 5px 10px;
    border-top: 1px solid #696a6b;
    border-bottom: 1px solid #696a6b;
}

.card-price P {
    font-size: 20px;
    font-weight: 600;
}

.mini-details {
    width: 95%;
    font-weight: 500;
}

.card-button {
    width: 100px;
    padding: 8px 0;
    border: none;
    font-size: 17px;
    font-weight: 600;
    background-color: #28523E;
    color: #fff;
    border-radius: 10px;
    margin: 10px 0 10px 10px;
    transition: 0.3s;
}

.header {
    background-color: #193529;
    height: 10vh;
}

.inner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.return-btn {
    padding: 5px 20px;
    color: #193529;
    border: 2px solid #e7ede9;
    background-color: #fff;
    border-radius: 10px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.filter-container {
    position: sticky;
    top: 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .3);
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.filter {
    padding: 5px 15px;
    color: #193529;
    border: 2px solid #e7ede9;
    background-color: #fff;
    border-radius: 10px;
    font-weight: 600;
}

.header img {
    width: 100%;
}

.tour-details h1 {}